<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Header -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NederLearn</title>
</head>
<body>
    <!-- Navigation Bar -->
    <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <!-- User Authenticated Links -->
            {% if user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="#">About Us</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Bookmarked</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="#">Create New Post</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Latest Post</a></li>
            <li class="nav-item"><a class="nav-link" href="#">My Posts</a></li>
            <li class="nav-item"><a class="nav-link" href="#">My Profile</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Log Out</a></li>
            <!-- Guest Links -->
            {% else %}
            <li class="nav-item"><a class="nav-link" href="#">Sign Up</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Login</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="#">About
                    Us</a></li>
            {% endif %}
        </ul>
    </div>
</body>
</html>
